
<header>
  <%if (!user) {%>
    <form class="uselater" action="/login" method="POST">
      <button type="submit"><a href="/register">Register</a></button>
      <button type="submit"><a href="/login">Login</a></button>
    </form>
  <% } else { %>
    <nav id="navbar">
      <div id="navbar-welcome">
        <p>Welcome <%= user.email %><p>
      </div>
      <div id="navbar-mylinks-logout">
        <button type="button" name="button"><a href="/urls">My links</a></button>
      <form action="/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
      <% } %>
      </div>
    </nav>
</header>
