<header>
  <form class="" action="/login" method="POST">
    <p>Logged in as <%= username %><p>
    <label for="username">Username: </label>
    <input type="text" name="username">
    <button type="submit">Submit</button>
  </form>
</header>
