<header>
  <%if (!user) {%>
    <form class="uselater" action="/login" method="POST">
      <button type="submit"><a href="/register">Register</a></button>
      <button type="submit"><a href="/login">Login</a></button>
    </form>
  <% } else { %>
  <form action="/logout" method="POST">
    <p>Welcome <%= user.email %><p>
    <a href="/urls">My links</a>
    <button type="submit">Logout</button>
  </form>
  <% } %>
</header>
