<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
      Please login or register to use TinyApp.
    </p>
    <button type="submit"><a href="/login">Login</a></button>
    <button type="submit"><a href="/register">Register</a></button>
  </body>
</html>
