<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head %>
  </head>
  <body class="login">
    <form action="/login" method="POST">
      <p>
        Welcome to TinyApp. Please login to continue.
      </p>
      Email Address<br>
      <input type="email" name="email" placeholder="" required="true">
      <br>
      Password<br>
      <input type="password" name="password" placeholder="" required="true">
      <br>
      <button type="submit">Login</button>
      <p>
        New to TinyApp? You can register <a href="/register">here</a>
      </p>
    </form>
  </body>
</html>
