<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <form action="/register" method="POST">
      <p>
        Shortening your links are dead easy. Please register to get started.
      </p>
      Email Address<br>
      <input type="email" name="email" placeholder="tiny@tinyurl.com" required="true">
      <br>
      Password<br>
      <input type="password" name="password" placeholder="Password" required="true">
      <br>
      <button type="submit">Sign me up</button>
    </form>
  </body>
</html>
