<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body class="new-urls" style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" required="true">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
