<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head %>
  </head>
  <body class="register">
    <h3>
      Shortening your links are dead easy. Please register to get started.
    </h3>
    <form action="/register" method="POST">
      Email Address<br>
      <input type="email" name="email" required="true">
      <br>
      Password<br>
      <input type="password" name="password" required="true">
      <br>
      <button type="submit">Sign me up</button>
    </form>
  </body>
</html>
