<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
  <% include partials/_header %>
  </header>
    <ul>
      <li>b2xVn2: http://www.lighthouselabs.ca</li>
      <li>9sm5xK: http://www.google.com</li>
      <li>
        <a href="#">Shorten a new URL</a>
      </li>
    </ul>
</body>
</html>
