<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form action="/login" method="POST">
      <p>
        Welcome to TinyApp. Please login to continue.
      </p>
      Email Address<br>
      <input type="email" name="email" placeholder="tiny@tinyurl.com">
      <br>
      Password<br>
      <input type="password" name="password" placeholder="Password">
      <br>
      <button type="submit">Login</button>
      <p>
        New to TinyApp? You can register <a href="/register">here</a>
      </p>
    </form>
  </body>
</html>
