<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
  <% include partials/_header %>
  </header>
    <ul>
      <% for (let prop in urls) { %>
      <li><%= prop %> - <%= urls[prop] %></li>
      <li>
        <a href="#">Create a New Short Link</a>
      </li>
      <% } %>
    </ul>
</body>
</html>
