<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
  <% include partials/_header %>
  </header>
  <form action="/urls/9sm5xK/delete" method="POST">
    <ul>
      <% for (let prop in urls) { %>
      <li><%= prop %> - <%= urls[prop] %></li>
    </ul>
      <button type="submit"><a href="#">Create a New Short Link</a></button>
      <button type="submit">Delete</button>
      <% } %>
  </form>
</body>
</html>
