html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
}

.login, .register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(203, 233, 244);
}

.login h3 {
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.register h3 {
  margin-bottom: 5rem;
  margin-top: 3rem;
}

/*styling _header.ejs*/
#navbar {
  display: flex;
  justify-content: space-between;
}

#navbar-mylinks-logout {
  display: flex;
  margin: auto;
  margin-right: 40px;
}

#navbar-mylinks-logout a {
  text-decoration: none;
  color: black;
}

#navbar-mylinks-logout button {
  margin-right: 20px;
  padding: 5px 10px 5px 10px;
  text-align: center;
}

#navbar-welcome {
  margin: auto;
  margin-left: 20px;
}

/* styling of url_new.ejs */
body.new-urls {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(203, 233, 244);
  font-size:25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#new-urls-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 200px;
}

#new-urls-form label {
  margin-right: 20px;
}

#longURL {
  width: 350px;
  margin-right: 20px;
}

/* styling of url_show.ejs */
.urls-show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(203, 233, 244);
}

.urls-show-body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(203, 233, 244);
  font-size: 25px;
}

.urls-show h2 {
  margin: 30px 0px 15px 0px;
}

.urls-show h2:nth-of-type(2) {
  margin: 0px 0px 50px 0px;
}

/*.urls-show-form {}*/

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  height: 40px;
  width: 170px;
  border: 1px solid;
  border-radius: 4px;
}

/* styling of url_index.ejs */
.index-page-body {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(203, 233, 244);
  margin: 0;
  height: 100%;
}

#create-new-link {
  margin-left: 70px;
  margin-top: 50px;
  color: black;
}

#index-page-main {
  display: flex;
}

.shorturl-longurl {
  display: flex;
  width: 50%;
  margin: 10px 10px 10px 70px;
}

.shorturl-longurl a {
  margin: auto 40px auto 0;
}

.urls-index-forms {
  display: flex;
  width: 50%;
  padding-left: 50px;
}

.edit-form {
  margin-right: 40px;
}

.edit-form button {
  width: 100px;
}

.edit-form a {
  color: black;
}

.delete-form button {
  width: 150px;
}

/* styling of error.ejs */
.error-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(203, 233, 244);
}
