.login, .register {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  background-color: rgb(203, 233, 244);
}

.new-urls {
  font-family: 'Indie Flower', cursive;
  background-color: rgb(203, 233, 244);
  font-size:25px;
  padding:50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.urls-show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
  font-family: 'Indie Flower', cursive;
  background-color: rgb(203, 233, 244);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  height: 30px;
  width: 170px;
  border: 1px solid;
  border-radius: 4px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
}

.navbar-links-logout {
  display: flex;
  margin: auto;
}

.navbar-welcome {
  margin: auto;
}

.index-page-body {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  background-color: rgb(203, 233, 244);
  margin: 0;
  height: 100%;
}

#index-page-ul {
  display: flex;
  flex-direction: column;
}
